.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.shop-conatainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.order-conatainer{
    background-color: rgba(255, 153, 0, 0.3);
}